<h1>Profile</h1>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{id}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{email}}</td>
        </tr>
    </tbody>
</table>

<form action="/profile" method="post">
    <input type="email" name="email" placeholder="Email" value="{{email}}">
    <input type="password" name="oldPass" placeholder="Old Password">
    <input type="password" name="pass" placeholder="New Password">
    <input type="submit" value="Update Profile">
    <input type="submit" name="delAccount" value ="Delete account">

</form>